{% if show_payment_button == false or product.selling_plan_groups.size > 0 %}
  {% assign show_payment_button = false %}
{% else %}
  {% assign show_payment_button = true %}
{% endif %}

{% assign variant = product.selected_or_first_available_variant %}

{%- assign checkout_url = '/checkout' -%}
  {% for locale in shop.enabled_locales %}
    {% if locale.primary == true %}
      {%- assign defaultLocale = locale.iso_code -%}
      {% if defaultLocale != request.locale.iso_code %}
        {%- assign checkout_url = request.locale.iso_code | append: '/checkout' -%}
    {% endif %}
  {% endif %}
{% endfor %}

<div
  class="
    product_form
    init
    smart-payment-button--{{ show_payment_button }}
    {% if product.variants.size > 1 or product.options.size > 1 %}product_form_options{% endif %}
  "
  id="product-form-{{ product.id }}"
  data-product-form
  data-money-format="{{ shop.money_format | strip_html }}"
  data-shop-currency="{{ shop.currency }}"
  data-options-size="{{ product.options.size }}"
  data-select-id="product-select-{{ product.id }}{{ product-form }}{{ section.id }}{{ block.id }}"
  data-enable-state="{% if template contains 'product' %}true{% else %}false{% endif %}"
  data-product="{{ product | json | escape }}"
  data-product-title="{{ product.title | escape }}"
  {% if settings.limit_quantity or settings.display_inventory_left %}
    data-variant-inventory='[{%- for v in product.variants -%}{"id":{{v.id}},"inventory_quantity":{{v.inventory_quantity}},"inventory_management":"{{v.inventory_management}}","inventory_policy":"{{v.inventory_policy}}"}{% if forloop.last == false %},{% endif %}{%- endfor -%}]'
  {% endif %}
  data-product-id="{{ product.id }}"
>
  {% form 'product', product %}

  <div
    class="
      select
      {% if product.has_only_default_variant %}default_select{% endif %}
    "
  >

    {% if product.options.size == 1 and settings.product_form_style == 'select' %}
      <label>{{ product.options[0] }}</label>
    {% endif %}

    <select
      id="product-select-{{ product.id }}{{ product-form }}{{ section.id }}{{ block.id }}"
      name="id"
      class="{% if product.options.size > 1 %}multi_select{% endif %}"
      data-variants
    >
      {% for v in product.variants %}
        <option {% if v == variant %}selected="selected"{% endif %} value="{{ v.id }}" data-featured-image="{{ v.featured_media }}" data-image="{{ v.featured_media | product_img_url: '600x' }}" data-sku="{{ v.sku }}">{{ v.title }}</option>
      {% endfor %}
    </select>
  </div>

  {% if settings.product_form_style == "radio" and product.variants.size > 1 or settings.product_form_style == "radio" and product.options[0] != "Title" %}
    <div class="swatch_options">
      {% for option in product.options %}
        {%
          render 'product-swatch-conversion-optimized',
          option: option,
          product: product
        %}
      {% endfor %}
    </div>
  {% endif %}

  {% if product.available %}
    {% if settings.display_inventory_left %}
      <div class="items_left">
        {% if variant.inventory_management != blank and variant.inventory_quantity > 0 %}
          {% capture items_left_text %}
            {% if variant.inventory_quantity == 1 %}
              {{ 'products.product.items_left_count.one' | t }}
            {% else %}
              {{ 'products.product.items_left_count.other' | t }}
            {% endif %}
          {% endcapture %}
          {% if variant.inventory_quantity <= settings.inventory_threshold %}
            {{ variant.inventory_quantity }} {{ items_left_text }}
          {% endif %}
        {% endif %}
      </div>
    {% endif %}
  {% endif %}

  <div class="purchase-details">
    {% if settings.display_product_quantity %}
      <div class="purchase-details__quantity product-quantity-box">
        <label for="quantity">{{ 'products.product.quantity' | t }}</label>
        <span class="ss-icon product-minus js-change-quantity" data-func="minus"><span class="icon-minus"></span></span>
        <input type="number" min="1" size="2" class="quantity" name="quantity" id="quantity" value="1" {% if settings.limit_quantity and variant.inventory_management != blank and variant.inventory_policy == "deny" %}max="{{ variant.inventory_quantity }}"{% endif %} />
        <span class="ss-icon product-plus js-change-quantity" data-func="plus"><span class="icon-plus"></span></span>
      </div>
    {% endif %}
    <div class="purchase-details__buttons purchase-details__spb--{{ show_payment_button }} {% if product.available == false %}product-is-unavailable{% endif %}">
      {% if settings.cart_action == 'reload_page' %}
        <input type="hidden" name="return_to" value="back" />
      {% elsif settings.cart_action == 'redirect_checkout' %}
        <input type="hidden" name="return_to" value="{{ checkout_url }}" />
      {% endif %}

      {% capture add_to_cart_label %}{% if collection_handles contains 'pre-order' %}{{ 'collections.general.pre_order' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endif %}{% endcapture %}
      <button
        type="{% if settings.cart_action == 'ajax' %}button{% else %}submit{% endif %}"
        name="add"
        class="
          add_to_cart
          global-button
          {% if show_payment_button %}
            global-button--secondary
          {% else %}
            global-button--primary
          {% endif %}
          {% if settings.cart_action == 'ajax' %}
            ajax-submit
          {% endif %}
          {% if product.available == false %}
            disabled
          {% endif %}
        "
        data-label={{ add_to_cart_label | json }}
      >
        <span class="text">
          {% if product.available %}{{ add_to_cart_label }}{% else %}{{ settings.sold_out_text }}{% endif %}
        </span>
        <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32" class="checkmark">
          <path fill="none" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"/>
        </svg>
      </button>
      {% if show_payment_button %}
        {{ form | payment_button }}
      {% endif %}

      <div data-payment-terms-reference style="display: none;">
        {{ form | payment_terms }}
      </div>
    </div>
  </div>
        
      
      <div style="display:block;">
      <div class="delivery_estimate">
        <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M9.029 1.54001C9.32605 1.37505 9.66022 1.28848 10 1.28848C10.3398 1.28848 10.674 1.37505 10.971 1.54001L18.486 5.71401C18.6418 5.80065 18.7716 5.92737 18.862 6.08103C18.9524 6.2347 19 6.40974 19 6.58801V14.823C18.9999 15.1797 18.9045 15.5298 18.7235 15.8371C18.5426 16.1445 18.2828 16.3979 17.971 16.571L10.971 20.461C10.674 20.626 10.3398 20.7125 10 20.7125C9.66022 20.7125 9.32605 20.626 9.029 20.461L2.029 16.571C1.71736 16.3979 1.45763 16.1447 1.27671 15.8376C1.0958 15.5304 1.00026 15.1805 1 14.824V6.58801C0.999993 6.40974 1.04764 6.2347 1.13802 6.08103C1.22839 5.92737 1.3582 5.80065 1.514 5.71401L9.03 1.54001H9.029Z" stroke="#87938F" stroke-width="1.12" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M5.5 3.5L14.5 8.5V12" stroke="#87938F" stroke-width="1.12" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M4 11.328L7 13" stroke="#87938F" stroke-width="1.12" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M10 11V21M1 6L10 11L1 6ZM10 11L19 6L10 11Z" stroke="#87938F" stroke-width="1.12" stroke-linejoin="round"/>
        </svg>          
        <p>Delivery estimated within</p>
        <span id="currentDate"></span>
        <p>and</p>
        <span id="fromDate"></span>
      </div>
        </div>
      {{ '//cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js' | script_tag }}
          <script>
            var currentDate = Date.today(+2);
            var fromDate = Date.today().addDays( 7 );
            if (fromDate.is().saturday() || fromDate.is().sunday()) {
                fromDate = fromDate.next().monday();
            }
            document.getElementById('fromDate').innerHTML = fromDate.toString('d/MM');
            document.getElementById('currentDate').innerHTML = currentDate.toString('d/MM');
          </script>
{% endform %}

  <div class="surface-pick-up surface-pick-up--loading" data-surface-pick-up></div>
  <div class="surface-pick-up__modal" data-surface-pick-up-modal></div>
</div>
